::-webkit-scrollbar {
    width: 10px;
    overflow: hidden;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #305B7A; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1c3b52; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #61B9FA; 
  }
  ::-webkit-scrollbar {
    width: 10px;
  }